/* 格式化 */
.webNav br {
    display: none;
}

.webNav a {
    text-decoration: none;
}

/* 格式化 */

.webNav {
    width: 100%;
    margin: 0 auto;
}

.webNav h3 {
    font-size: 18px;
    padding: 5px 6px;
    margin: 0 10px 5px 9px;
    background: #e67e22;
    width: 100px;
    color: #fff;
    position: relative;
}

.webNav h3::before {
    position: absolute;
    content: "▼";
    color: #e67e22;
    bottom: -10px;
    left: 50%;
    transform: translateX(-50%);
}

.webNav ul {
    overflow: hidden;
    padding: 0;
}

.webNav ul li {
    float: left;
    width: 132px;
    margin: 5px;
    padding: 0 5px;
    box-shadow: 0 0 10px 0 #ebebeb;
    border: 1px solid #fff;
    overflow: hidden;
    text-align: justify;
}


.webNav ul li:hover {
    border: 1px solid #e47e30;
}

.webNav ul li .omit {
    /* 省略号 */
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
}

.webNav ul li h4 {
    font-size: 14px;
    font-weight: 900;
    color: #848484;
    line-height: 17px;
    margin: 5px 0;
}

.webNav ul li:hover h4,
.webNav ul li:hover p {
    color: #e47e30;
}

.webNav ul li p {
    font-size: 9px !important;
    color: #aaa;
    height: 33px;
    -webkit-line-clamp: 2 !important;
}

.webNav ul li div {
    width: 90%;
    /* height: 35px; */
    height: 30px;
    margin: 5px auto;
    text-align: center;
    box-shadow: 0 0 10px #ccc;
    border-radius: 20px;
    overflow: hidden;
}

.webNav ul li div img {
    width: 100%;
    -webkit-filter: grayscale(100%); /* Chrome, Safari, Opera */
    filter: grayscale(100%);
}

.webNav ul:hover li img {
    -webkit-filter: grayscale(0); /* Chrome, Safari, Opera */
    filter: grayscale(0);
}

/* 媒体查询 */


@media (max-width: 767px) {
    .webNav h3 {
        margin: 0 10px 5px 5px;
    }

    .webNav ul li {
        width: 32%;
        margin: 5px 2px;
    }

    .webNav ul li div {
        height: 24px;
    }

    .webNav ul li:hover h4,
    .webNav ul li:hover p {
        color: #e47e30;
    }

    .webNav ul li p {
        height: 24px;
    }

    .webNav ul li h4  {
        font-size: 12px;
        margin: 0 !important;
    }

    .webNav ul li div img {
        width: 100%;
        -webkit-filter: grayscale(0); /* Chrome, Safari, Opera */
        filter: grayscale(0);
    }
}